<header class="site-header">
  <img class="site-title" src="{{ site.baseurl }}/assets/snakes/pacGophSum181.JPG"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Snakes</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/About/">About</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/liferList/">Lifer List</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/Stars/">Stars</a></li>
    </ul>
  </nav>

</header>
