---
layout: star
---
<div class="post">
  <div class="post-nav">

    {% if page.next.stars %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a>
    {% else %}
      {% for post in site.posts reversed%}
        {% if post.snake %}
          {% continue %}
        {% elsif post == page %}
          {% continue %}
        {% elsif post.stars %}
          {% if post.number > page.number %}
            <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}">&laquo; Prev</a>
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page.previous.stars %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a>
    {% else %}
      {% for post in site.posts%}
        {% if post.snake %}
          {% continue %}
        {% elsif post == page %}
          {% continue %}
        {% elsif post.stars %}
          {% if page.number > post.number %}
            <a class="nav-item" href="{{ post.url | prepend: site.baseurl }}">Next &raquo;</a>
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>